{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["apps/lucene_parser",
            "apps/qilr",
            "apps/riak_solr",
            "rel"]}.

{lib_dirs, ["apps"]}.

{require_otp_vsn, "R13B04|R14"}.

{cover_enabled, true}.

{deps, [
       {cluster_info, ".*", {git, "git://github.com/basho/cluster_info",
                                  {branch, "master"}}},
       {riak_err, ".*", {git, "git://github.com/basho/riak_err",
                              {branch, "master"}}},
       {riak_kv, "0.14.*", {git, "git://github.com/basho/riak_kv",
                                 {branch, "master"}}}, 
       {luwak, "1.*", {git, "git://github.com/basho/luwak", 
                            {branch, "master"}}},
       {merge_index, "0.14.*", {git, "git://github.com/basho/merge_index",
                                {branch, "master"}}}
       ]}.

{erl_first_files, ["src/riak_search_backend.erl"]}.
