{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["apps/lucene_parser"]}.

{lib_dirs, ["apps"]}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{deps, [
       {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", {branch, "2.0"}}},
       {merge_index, ".*", {git, "git://github.com/basho/merge_index.git", {branch, "2.0"}}}
       ]}.

{erl_first_files, ["src/riak_search_backend.erl"]}.
