%% -*- erlang -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2010-2015 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{erl_first_files, ["src/riak_search_backend.erl"]}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform},
    {platform_define, "^R1[0-5]", no_otp_crypto_hash}
]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "feature/otp-17"}}},
    {merge_index, ".*", {git, "git://github.com/basho/merge_index.git", {branch, "feature/otp-17"}}},
    {otp_compat, ".*", {git, "git://github.com/tburghart/otp_compat.git", {branch, "master"}}},
    {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", {branch, "feature/otp-17"}}}
]}.

{sub_dirs, ["apps/lucene_parser"]}.

{lib_dirs, ["apps"]}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(cluster_info|dtrace|yz_kv|yz_stat|basho_bench_config)\" : Mod)", []}]}.
