{mode, max}.

{duration, 10}.

{concurrent, 1}.

{driver, basho_bench_driver_riaksearch}.

{key_generator, {uniform_int_str, 5000000}}.

{value_generator, {function, basho_bench_driver_riaksearch, valgen, [5, 20]}}.

{operations, [{index, 1}]}.

{code_paths, ["deps/stats", "/Users/rusty/Documents/Basho/Search/rel/riaksearch/lib/riak_search"]}.

{riaksearch_node, 'bashobench@127.0.0.1'}.
{riaksearch_cookie, riak}.
{riaksearch_remotenodes, ['riaksearch@127.0.0.1']}.
{riaksearch_fieldfile, "/Users/rusty/Documents/Basho/basho_bench/fields.txt"}.
{riaksearch_termfile, "/Users/rusty/Documents/Basho/basho_bench/terms.txt"}.