<?xml version="1.0" encoding="UTF-8"?>
<response>
  <lst name="responseHeader">
    <int name="status">{{status}}</int>
    <int name="QTime">{{qtime}}</int>
{{params}}
  </lst>
{{result}}
</response>