{mode, max}.

{duration, 10}.

{concurrent, 5}.

{report_interval, 5}.

{driver, basho_bench_driver_merge_index}.

{key_generator, {uniform_int_bin, 500000}}.

{value_generator, {fixed_bin, 250}}.

{operations, [{index, 50}]}.
%{operations, [{info, 1}, {stream, 1}]}.

{merge_index_rollover_size, 52428800}.
{merge_index_sync_interval, 2000}.

{code_paths, ["deps/stats",
              "deps/ibrowse",
             "ebin"]}.
