{mode, max}.
{duration, 10}.
{concurrent, 4}.
{driver, rs_bb_driver}.
{value_generator,
 {function, rs_bb_driver, valgen,
  ["/Users/rzezeski/work/try-try-try/2011/riak-search-inline-fields/earthquake",
   [<<"text">>],
   "/Users/rzezeski/work/try-try-try/2011/riak-search-inline-fields/schemas/tweets-schema.txt"]}}.
{operations, [{index,4}, {search,1}]}.
{code_paths, ["/Users/rzezeski/work/riak_search", "/Users/rzezeski/work/riak/deps/mochiweb"]}.

{rs_index_path, "/riak/tweets"}.
{rs_search_path, "/search/tweets"}.
{rs_ports, [{"127.0.0.1", 8091}, {"127.0.0.1", 8092},
            {"127.0.0.1", 8093}, {"127.0.0.1", 8094}]}.
